@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @*var firstname = ViewBag.FirstName*@
}

@if (ViewBag.sessionId == null)
{
    <li class="nav-item">
        <a class="nav-link text-dark"> Hi, Guest! </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark"> | </a>
    </li>


    //TODO: Add login action
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="" asp-action=""> Login</a>
    </li>
}
else
{
    <li> Hi @ViewData["firstname"]! </li>


                //TODO: Add Purchase History Action
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="" asp-action="">My Purchases</a>
    </li>

    //TODO: Add logout action
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="" asp-action="">| Log Out</a>
    </li>

}

