@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var fullname = TempData["fullName"];
    var sessionId = TempData["sessionId"];
    var custId = TempData["customerId"];
    TempData.Keep();
}

<li class="nav-item">
    <a class="nav-link text-dark"> sessionid: @sessionId </a>
</li>

@if (custId != null)
{
    <li class="nav-item">
        <a class="nav-link text-dark"> Hi, @fullname! </a>
    </li>


    <li class="nav-item pl-4" style="display: inline-block;">
        <a class="nav-link text-dark" asp-controller="OrderHistory" asp-action="Index">My Purchases</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Logout">| Log Out</a>
    </li>

}

else
{
    <li class="nav-item">
        <a class="nav-link text-dark"> Hi, Guest! </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark"> | </a>
    </li>


    //TODO: Add login action
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Index"> Login </a>
    </li>
}


