@{
	ViewData["Title"] = "Purchase Order History";
}

@{
	var orders = (List<OrderHistory>)ViewData["orders"];
	
}
@if(orders==null)
{
	<h5>Your Purchase History is empty</h5>
	
}

@foreach (var oh in orders)
{
	<table>
		<tr>
			<td>Purchase On: @oh.PurchaseOn</td>
		</tr>
		<tr>
			<td>Qty: @oh.Qty </td>
		</tr>
		<tr>
			<td>Code: @oh.Activation_Code </td>
		</tr>
		
	</table>
}
@foreach(var ac in orders)
{
	<table>
		
		<tr>
			<td>Activation Code: @**ac.Values.First().ActivationCodes**@ </td>
		</tr>
	</table>

}