@{
    ViewData["Title"] = "Edit your Review";

    var retrieveReviews = (List<ProductReview>)ViewData["rtvRv"];
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stars.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <form>
        <br /><br />
        <h4 class="title">We appreciate your review. Your review will help us to improve our products</h4> <br />

        @*display the current customer rating*@
        <label> This is your current review: </label> <br />
        <div class="ReviewDetails">
            @foreach (var retrieveReview in retrieveReviews)
            {
                <div>
                    <div>
                        @*display invididual review star rating*@
                        <div> Rating:
                            @for (int i = 0; i < (int)@retrieveReview.Rating; i++)
                            {
                                <i class="fa fa-star checked" style="font-size:15px;color:gold;"></i>
                            }
                            @for (int i = (int)@retrieveReview.Rating; i < 5; i++)
                            {
                                <i class="fa fa-star checked" style="font-size:15px;color:lightgrey;"></i>
                            }
                        </div>
                        @*display individual review description*@
                        <p>Review: @retrieveReview.ReviewText</p>
                        <br />
                    </div>
                </div>
            }
        </div>
        

        <label> This is the new review: </label> <br />

        @*star selector*@
        <div class="ratingStars">
            <header> Rating: (Required) </header>
            <input type="radio" id="star5" name="ratingStars" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="ratingStars" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="ratingStars" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="ratingStars" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="ratingStars" value="1" />
            <label for="star1" title="text">1 star</label>
        </div> <br /> <br /> <br />

        @*text box to enter description*@
        <div class="reviewDescription">
            <header>Enter your review: </header>
            <input type="text" name="reviewDescription" id="reviewDescription" required> <br>
        </div> <br>

        @*submit button*@
        <div class="submitReviewButton">
            <input type="submit" name="submitReviewButton" style="padding:5px">
        </div>
    </form>
</body>