@{
    ViewData["Title"] = "Review Page";
    @* testing display of product review summary (average rating and counts)*@
    var averageRating = ViewData["avgRtg"];
    var ratingCounts = ViewData["rtgCnts"];
    var reviewDetails = (List<ProductReview>) ViewData["rvDts"];
}

<head>
    <meta charset="UTF-8">
    @*html stylesheet for the displaying of stars*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container">
        <h3 class="title">Product Reviews</h3>
        <br />

        @*need to insert image here*@

        <p>Average rating of @averageRating, based on @ratingCounts reviews.</p>

        @*html syntax to display average rating in stars (for tanya home page)*@
        <div class="stars">
            @for (int i = 0; i < (int)averageRating; i++)
            {
                <i class="fa fa-star checked" style="font-size:30px;color:gold;"></i>
            }
            @for (int i = (int)averageRating; i < 5; i++)
            {
                <i class="fa fa-star checked" style="font-size:30px;color:lightgrey;"></i>
            }
            
        </div> <br /> <br /> <br /> <br />

        @*html syntax to display average rating in stars (for tanya home page)*@
        <div class="ProductRatingCount">
            Counts: @ratingCounts <br />
        </div> <br />

        @*display a summary page of the details*@
        <hr style="border:1.5px solid #888888">

        <div class="RatingDetails">
            Review Details:
            <table>
                <tr>
                    <th>Customer Name</th>
                    <th>Rating</th>
                    <th>Review Text</th>
                </tr>
                @foreach (var reviewDetail in reviewDetails)
                {
                    <tr>
                        <td>@reviewDetail.CustomerName</td>
                        <td>@reviewDetail.Rating</td>
                        <td>@reviewDetail.ReviewText</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>