@{
    ViewData["Title"] = "Review Page";
    @* testing display of product review summary (average rating and counts)*@
    var averageRating = ViewData["avgRtg"];
    var ratingCounts = ViewData["rtgCnts"];
    var reviewDetails = (List<ProductReview>) ViewData["rvDts"];
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--custom css file linlk-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/reviewstyle.css">

</head>

<body>
    <div class="container">
        <div class="post">
            <h3 class="title">Products Review</h3>
        </div>
        <br />
        <div class="ProductAverageRating">
@*            @for (int i = 0; i < averageRating; i++)
            {
                <span class="ratingStars > input:checked"></span>
            }*@
            Rating: @averageRating <br />
        </div>
        <br />
        <div class="ProductRatingCount">
            Counts: @ratingCounts <br />
        </div>
        <br />
        <div class="RatingDetails">
            Review Details:
            <table>
                <tr>
                    <th>Customer Name</th>
                    <th>Rating</th>
                    <th>Review Text</th>
                </tr>
                @foreach (var reviewDetail in reviewDetails)
                {
                    <tr>
                        <td>@reviewDetail.CustomerName</td>
                        <td>@reviewDetail.Rating</td>
                        <td>@reviewDetail.ReviewText</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</body>