@model List<Order>

<h1>My Purchases</h1>

@if (Model.Count == 0)
{
    <h2 style="text-align:center">No past purchases found.</h2>
}
else
{
    <a href="@Url.Action("Index", "OrderHistory")"></a>
}

