html {
  font-size: 14px;
}

@media (min-width: 1500px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

table {
    margin: 0 auto;
    border: 2px solid grey;
    border-collapse: collapse;

}

th{
    background-color: aliceblue;
}


tr, td {
  border: 1px solid #efefef;
  text-align: center;
}

=======
.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.quantity {
    width: 50px;
    height: 25px;
    text-align: center;
}

.total-price {
    font-weight: bold;
}
.myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

.myUL li a:hover:not(.header) {
    background-color: #eee;
}

.center_button{
    text-align:center
}

